@import "styles/_variables.scss";
@import "styles/_breakpoints.scss";



.about {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: $background;
    padding: 112px 1em;
    &__top {
        display: flex;
        flex-direction: column;
        &__subtitle {
            color: $dark-grey;
            font-size: 0.875;
            font-weight: 400;
            letter-spacing: .3em;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        &__title {
            font-size: 2.125rem;
            line-height: 2.5rem;
            font-weight: 800;
            letter-spacing: -.01em;
            color: $dark;
        }
    }
}