@import "styles/_variables.scss";
@import "styles/_breakpoints.scss";

.card {
    box-shadow: 4px 4px 9px rgba(32, 50, 62, 45%);
    border-radius: 10px;
    display: grid;
    grid-column: 1/sapan 4;
    grid-row: 1;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    width: 100%;
    @media (min-width: $desktop_md) {
        width: 80%;
    }
    &__imgContainer {
        overflow: hidden;
        grid-column: 1/sapan 4;
        grid-row: 1;
        &__img {
            width: 100%;
        	object-fit: cover;
        }
    }
    &__infoContainer {
        padding: 2em;
        transform: translate3d(0, 0, 0);
        grid-row: 1;
        grid-column: 1 / span 4;
        &__title {
            color: $light-grey;
            font-size: 2em;
        }
    }
}