.swiper {
    padding: 0 0 2em 0;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60%;
}
.swiper-pagination-bullet-active {
    background-color: rgb(32,50,62);
}
.swiper-button-prev {
    color: rgb(32,50,62);
}
.swiper-button-next {
    color: rgb(32,50,62);
}